// Set an animation with some boilerplate
@mixin anim($name, $duration) {
	animation: $name $duration linear infinite;
	animation-timing-function: step-end; 
}

// Adds a keyframe that simulates a neon light flicker
@mixin fkey($percent, $duration: 2%) {
	#{$percent - 0.0001%}, #{$percent + $duration} {
		filter: drop-shadow(0px 0px 12px currentColor);
	}

	#{$percent} {
		filter: brightness(75%);
	}
}

@mixin neon {
	// This removes some linting errors
	#{0%}, #{100%} {
		filter: drop-shadow(0px 0px 12px currentColor);
	}
}