:root {
	--leaf: #c7e233;
	--trunk: #fedfdc;
	--grass: #f5e755;
	--earth: #ff7070;

	--bg: #054368;
}

html {
	background: var(--bg);
}

body {
	height: 100vh;
	overflow: hidden;
	// Center the SVG
	display: grid;
	place-items: center;
}

svg {
	overflow: visible;
}

path {
	stroke: currentColor;
	filter: drop-shadow(0px 0px 12px currentColor);
}

.leaf { color: var(--leaf); }
.trunk { color: var(--trunk); }
.grass { color: var(--grass); }
.earth { color: var(--earth); }

// Source code link
.source {
	position: absolute;
	bottom: 0px; right: 0px;
	padding: 4px;
	color: var(--trunk);
	font-family: sans-serif;
}