@use 'preamble.scss';
@use 'mixins.scss' as *;

// Trunk
@keyframes trunk {
	@include neon;
	
	@include fkey(50%);
	@include fkey(70%, 1%);
	@include fkey(73%, 1%);
}

.trunk {
	@include anim(trunk, 4s);
}

// Leaves
@keyframes leaf {
	@include neon;
	
	@include fkey(90%, 4%);
}

.leaf {
	@include anim(leaf, 4s);
}

@for $i from 1 through 6 {
	.leaf:nth-of-type(#{$i}) { animation-delay: $i * 50ms; }
}