---
import Svg from '../components/Svg.astro';
import '../styles/style.scss';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
	</head>
	<body>
		<Svg />

		<a class="source" href="https://git.basil.cafe/basil/swayfx-svg">Source</a>
	</body>
</html>

<script>
	const search = new URLSearchParams(document.location.search);
	const keys = ['leaf', 'trunk', 'grass', 'earth', 'bg'];

	for (const key of keys) {
		const value = search.get(key);
		if (value) {
			document.documentElement.style.setProperty('--' + key, '#' + value);
		}
	}
</script>